<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Camera sensor -->
  <xacro:macro name="camera_sensor" params="parent_link x_offset y_offset z_offset">
    <!-- Camera sensor -->
    <joint name="camera_joint" type="fixed">
        <parent link="${parent_link}"/>
        <child link="camera_link"/>
        <origin xyz="${x_offset} ${y_offset} ${z_offset}" rpy="0 0.2 0"/>  <!-- Positioned forward and slightly tilted down -->
    </joint>

    <link name="camera_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 ${pi_const/2} 0"/>
            <geometry>
                <box size="0.03 0.05 0.02"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.03 0.05 0.05"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.1"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="0.000033" ixy="0" ixz="0" iyy="0.000033" iyz="0" izz="0.000033"/>
        </inertial>
    </link>

    <!-- Camera optical frame -->
    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_optical_frame"/>
        <origin xyz="0 0 0" rpy="${-pi_const/2} 0 ${-pi_const/2}"/>
    </joint>

    <link name="camera_optical_frame"/>

    <!-- Camera sensor in Gazebo -->
    <gazebo reference="camera_link">
      <material>Gazebo/Orange</material>
      <sensor name="camera" type="camera">
        <camera>
          <horizontal_fov>1.3962634</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>true</visualize>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <ros>
            <namespace>/</namespace>
            <remapping>image_raw:=camera/image_raw</remapping>
            <remapping>camera_info:=camera/camera_info</remapping>
          </ros>
          <output_type>sensor_msgs/Image</output_type>
          <frame_name>camera_optical_frame</frame_name>
          <camera_name>camera</camera_name>
          <update_rate>30.0</update_rate>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot> 